<ion-header>
  <app-header [title]="'Calendar views'"></app-header>
</ion-header>

<ion-content class="ion-padding">
  <div class="date-selector">
    <ion-button fill="clear" color="medium" (click)="prevMonth()">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>

    <div class="ion-text-center">
      <div>{{startDate | date:'d MMM'}} - {{endDate | date:'d MMM'}}</div>
      <div>{{startDate | date:'YYYY'}}</div>
    </div>

    <ion-button fill="clear" color="medium" (click)="nextMonth()">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </ion-button>
  </div>
  <table class="calendar">

    <tr class="header">
      <th *ngFor="let weekDay of weekDays"><b>{{weekDay}}</b></th>
    </tr>

    <tr class="week" *ngFor="let week of days">

      <td 
        *ngFor="let day of week" 
        [class]="isCurrentMonth(day)? '': 'not-current-month'"
        [routerLink]="['/calendar-views', 'view', day]">
        <div>{{day | date:'MMM d'}}</div>
        <div class="statuses">
          <div *ngIf="workOrders.get(day)?.current as current" class="current-wo">{{current}}</div>
          <div *ngIf="workOrders.get(day)?.completed as completed" class="completed-wo">{{completed}}</div>
          <div *ngIf="workOrders.get(day)?.canceled as canceled" class="canceled-wo">{{canceled}}</div>
        </div>
      </td>

    </tr>

  </table>
</ion-content>

<ion-footer>
  <app-sync></app-sync>
</ion-footer>