:host {
  font-size: 0.8rem;
}

ion-label {
  font-size: 0.8rem;
}

ion-select {
  width: 100%;
  margin-top: 5px;
  border: 1px solid var(--ion-color-grey-shade);
  font-size: 0.8rem;
  padding: 5px;
}

ion-button {
  --background: var(--ion-color-grey-shade);
  width: 100%;
}

.margin-top-5vh {
  margin-top: 5vh;
}

.completed-label{
    background-color: var(--ion-color-green);
    color: white;
    text-align: center;
    padding: 10px;
}
