ion-select{
    width: 100%;
    padding-left: 4vw;
    margin-top: 1vh;
    border: 1px solid var(--ion-color-grey-shade);
}

ion-button{
    --background: var(--ion-color-grey-shade);
    width: 100%;
}

.margin-top-5vh{
    margin-top: 5vh;
}