<h1 class="ion-text-center"><b>Update status</b></h1>

<form [formGroup]="requestForm" (ngSubmit)="onSubmit()" class="ion-padding">
  <div class="field">
    <strong>Status</strong>
    <span class="required">*</span>
    <ion-select
      #jobTypeSelect
      formControlName="status"
      interface="popover"
      class="status-select ion-no-margin">
      <ion-select-option
        *ngFor="let type of statuses"
        [value]="type">
        {{ type.type_value }}
      </ion-select-option>
    </ion-select>
    <ion-note 
      color="danger"
      *ngIf="status.invalid && (status.dirty)">
      This field is required
    </ion-note>
  </div>

  <div class="field">
    <strong>Comment</strong>
    <ion-textarea 
      formControlName="comment"
      class="ion-no-margin">
    </ion-textarea>
  </div>

  <ion-row class="gap-2 ion-padding-top">
    <ion-col class="ion-no-padding">
      <ion-button (click)="onCancel()" color="light" expand="full">Cancel</ion-button>
    </ion-col>
    <ion-col class="ion-no-padding">
      <ion-button (click)="onSubmit()" color="medium" expand="full">Submit</ion-button>
    </ion-col>
  </ion-row>
</form>