<ion-header>
  <app-header [title]="'Work orders'"></app-header>
</ion-header>
<ion-content id="main" class="ion-padding">
  <button (click)="sync()">Sync</button>
  <button (click)="logout()">Logout</button>

  <div class="pagination">
    <div>{{numberOfWorkOrders}} Items</div>
    <div class="pages">
      <div class="page-btn"><ion-button class="ion-no-padding" expand="block" (click)="changePage(1)">{{'<<'}}</ion-button></div>
      <div class="page-btn" *ngFor="let i of paginationButtons"><ion-button (click)="changePage(i)" class="ion-no-padding" [class.selected]="i === pagination.page" expand="block">{{i}}</ion-button></div>
      <div class="page-btn"><ion-button class="ion-no-padding" expand="block" (click)="changePage(pagination.last_page)">{{'>>'}}</ion-button></div>
    </div>
  </div>

  <ion-list *ngIf="listData.length > 0">
    <ion-item *ngFor="let item of listData">
      <p>{{item.id}}</p>

        <ng-container *ngIf="item.description">
          {{ (item.description.length>60)? (item.description | slice:0:60)+'...':(item.description) }}
        </ng-container>

      <p>{{item.wo_status_type_id_value}}</p>
      <p>{{item.crm_priority}}</p>
      <p>{{item.expected_completion_date}}</p>

        <ng-container *ngIf="item.assigned_to">
          <div *ngFor="let at of item.assigned_to">{{at.person_name}}</div>
        </ng-container>

    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-row class="tab-content">
    <ng-container *ngFor="let tab of tabs">
      <ion-col [class]="{active: tab.isActive}" (click)="setActiveTab(tab.key)">
        <ion-label>{{ tab.label }} ({{ tab.total }})</ion-label>
      </ion-col>
    </ng-container>
  </ion-row>

  <app-sync></app-sync>
</ion-footer>
