
//modal-wrapper ion-overlay-wrapper sc-ion-modal-md

.tab-content {
  color: #3d3b3b;
  background-color: #e8e4dc;
  height: 40px;
  vertical-align: middle;

  ion-col {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    &.active {
      background-color: #82817e;
      color: #e8e4dc;
    }
  }
}


