<ion-header>
  <app-header title="Calendar views"></app-header>
</ion-header>

<ion-content class="ion-padding">

  <div *ngIf="workOrders.current.length > 0 || workOrders.canceled.length > 0 || workOrders.completed.length > 0; else noWorkOrders" 
    class="ion-text-center">
    Work orders scheduled for {{date}}
  </div>
  
  <ng-template #noWorkOrders>
    <div class="ion-text-center">No work orders scheduled for {{date}}</div>
  </ng-template>

  <ion-list>
    <ion-card *ngFor="let workOrder of allWorkOrders" [routerLink]="['/work-order', 'view', workOrder.uuid]">

      <ion-card-header>
        <ion-card-title>#{{ workOrder.work_order_number }} {{ utilsService.getLastnameFromFullname(workOrder.client) }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <b>Wo Type</b>: {{ workOrder.wo_type }}
        </ion-row>
        <ion-row>
          <b>Job Type</b>: {{ workOrder.call_type }}
        </ion-row>
        <ion-row>
          <b>Status</b>: {{ workOrder.status }} ({{ workOrder.tech_status }})
        </ion-row>
        <ion-row>
          <b>Scheduled date</b>: {{ workOrder.scheduled_date || '-' }}
        </ion-row>
        <ion-row>
          <app-address [address]="workOrder"></app-address>
        </ion-row>
      </ion-card-content>

    </ion-card>
  </ion-list>
</ion-content>

<ion-footer>
  <app-sync></app-sync>
</ion-footer>