<ion-header>
  <app-header title='Sync status'></app-header>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <table class="ion-text-center">
    <tr>
      <th>Table name</th>
      <th>Unsynchronized records</th>
      <th>Actions</th>
    </tr>

    <tr *ngFor="let row of tableData">
      
      <td>{{row.table}}</td>
      <td>{{row.total}}</td>
      <td>
        <ion-button
          color="medium"
          fill="outline"
          [disabled]="syncInProgress$ | async"
          (click)="onSync(row.table)">
          <ion-icon name="sync-outline" [class]="{rotation: syncInProgress$ | async}"></ion-icon>
        </ion-button>
        <ion-button
          color="medium"
          fill="outline"
          (click)="onClearHash(row.table)">
          <ion-icon name="backspace-outline"></ion-icon>
        </ion-button>
      </td>

    </tr>
  </table>

  <ion-button
    color="medium"
    [disabled]="syncInProgress$ | async"
    (click)="onSyncAll()">
    Sync all
  </ion-button>
  
</ion-content>
