<ion-header>
  <app-header [title]="'Incidents'"></app-header>
</ion-header>

<ion-content>
  <ion-card 
    *ngFor="let incident of incidents" 
    class="incident ion-padding"
    [routerLink]="['/incidents', 'view', incident.uuid]">
    <ion-item class="ion-no-padding" lines="none">

      <ion-thumbnail class="ion-no-margin">
        <ion-img *ngIf="incident.thumbnail_path; else noPhoto" [src]="incident.thumbnail_path"></ion-img>
        <ng-template #noPhoto>
          <ion-icon name="camera-outline"></ion-icon>
        </ng-template>
      </ion-thumbnail>

      <div class="ion-margin-start">

        <ion-card-title><b>{{ getTypeById(incident.incident_type_id)?.type_value }}</b></ion-card-title>
        
        <ion-card-content class="ion-no-padding">
          {{ utilsService.getLocalDate(incident.incident_date) }}
        </ion-card-content>

        <ion-card-content class="ion-no-padding">
          {{ getStatusById(incident.status_type_id).type_value }}
        </ion-card-content>

        <ion-card-content *ngIf="incident.injury_persons && incident.injury_persons.length" class="ion-no-padding">
          Injured persons:
          <p class="ion-padding-start" *ngFor="let person of incident.injury_persons">{{person.first_name}} {{person.last_name}}</p>
        </ion-card-content>
        
        <ion-card-content class="ion-no-padding">
          {{ incident.incident_location }}
        </ion-card-content>

      </div>
    </ion-item>
  </ion-card>
</ion-content>

<ion-footer>
  <app-sync></app-sync>

  <ion-row>

    <ion-col>
      <ion-select
        #statusSelect
        interface="popover"
        class="status-select"
        placeholder="Select status"
        (ionChange)="onStatusChange($event)"
        [value]="null">

        <ion-select-option
          [value]="null">
          All
        </ion-select-option>

        <ion-select-option
          *ngFor="let status of statuses"
          [value]="status">
          {{ status.type_value }}
        </ion-select-option>

      </ion-select>
    </ion-col>

    <ion-col>

      <ion-button 
        color="medium" 
        expand="full"
        [routerLink]="['/incidents', 'form']"
        [replaceUrl]="true">
        Log Incident
      </ion-button>

    </ion-col>

  </ion-row>
</ion-footer>