<ion-header>
  <app-header [title]="'Settings'"></app-header>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-icon name="cloud-offline-outline" size="small"></ion-icon>
      <ion-label>Offline Mode</ion-label>
      <ion-toggle></ion-toggle>
    </ion-item>

    <ion-item [routerLink]="['/settings', 'sync-status']">
      <ion-icon name="pulse-outline" size="small"></ion-icon>
      <ion-label>Sync Status</ion-label>
    </ion-item>

    <ion-item [routerLink]="['/settings', 'upload-queue']">
      <ion-icon name="cloud-upload-outline" size="small"></ion-icon>
      <ion-label>Upload Queue</ion-label>
    </ion-item>

    <ion-item [routerLink]="['/settings', 'database-query']">
      <ion-icon name="layers-outline" size="small"></ion-icon>
      <ion-label>Database Query</ion-label>
    </ion-item>

    <ion-item [routerLink]="['/settings', 'send-app-state']">
      <ion-icon name="file-tray-stacked-outline" size="small"></ion-icon>
      <ion-label>Send app state for inspection</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <app-sync></app-sync>
</ion-footer>
