<ion-button
  *ngIf="file; else getSignatureBtn"
  expand="block"
  color="success">
  Signed by {{ file.description }}
</ion-button>

<ng-template #getSignatureBtn>
  <ion-button
    (click)="onGetSignatureClick()"
    expand="block"
    color="danger">
    {{ label? label: 'Get a signature'}}
  </ion-button>
</ng-template>

<ion-modal #formModal>
  <ng-template>
    <signature-form 
      (onCancel)="onFormCancel()"
      (onNext)="onFormNext($event)">
    </signature-form>
  </ng-template>
</ion-modal>

<ion-modal #canvasModal>
  <ng-template>
    <signature-canvas
    (onCancel)="onCanvasCancel()"
    (onSave)="onSave($event)">
    </signature-canvas>
  </ng-template>
</ion-modal>