<ion-button
  *ngIf="file; else getSignatureBtn"
  (click)="onGetSignatureClick()"
  expand="block"
  color="success">
  Signed by {{ file.description }}
</ion-button>

<ng-template #getSignatureBtn>
  <ion-button
    (click)="onGetSignatureClick()"
    expand="block"
    color="danger">
    {{ label? label: 'Get a signature'}}
  </ion-button>
</ng-template>

<ion-modal #formModal id="form-modal" class="popup">
  <ng-template>
    <app-signature-form 
      (cancel)="onFormCancel()"
      (next)="onFormNext($event)"
      [name]="ownerName"
      [title]="ownerTitle">
    </app-signature-form>
  </ng-template>
</ion-modal>

<ion-modal #canvasModal id="canvas-modal">
  <ng-template>
    <app-signature-canvas
      (cancel)="onCanvasCancel()"
      (save)="onSave($event)">
    </app-signature-canvas>
  </ng-template>
</ion-modal>