<ion-content class="bg-sign-in">
  <div class="bg-logo text-center pt-5">
    <img src="/assets/images/ahd/logo.png"/>
  </div>

  <h1 class="text-center quicksand bold" style="color: #2f2d3a">Welcome Back</h1>
  <h6 class="text-center poppins text-black-50 mt-0">Sign In to continue</h6>

  <div class="bg-frame rounded-pill mx-4 mt-5">
    <label class="item">
      <span>Email</span>
      <input
          type="email"
          name="username"
          class="bg-transparent border-0"
          tabindex="0"
          [(ngModel)]="credentials.username"
      />
    </label>
  </div>

  <div class="bg-frame rounded-pill mx-4 mt-3">
    <label class="item">
      <span>Password</span>
      <input
          type="password"
          name="password"
          class="bg-transparent border-0"
          tabindex="1"
          [(ngModel)]="credentials.password"
      />
    </label>
  </div>

  <div class="mx-4 mt-5">
    <button
        (click)="login()"
        [disabled]="isLoading"
        tabindex="3"
        class="bg-sign-in-button rounded-pill width-100">Sign In
    </button>
  </div>
</ion-content>
