<h1 class="ion-text-center"><b>Create new request</b></h1>

<form [formGroup]="requestForm" (ngSubmit)="onSubmit()" class="ion-padding">
  <div class="field">
    <strong class="ion-margin-top">Job type</strong>
    <ion-select
      #jobTypeSelect
      formControlName="jobType"
      interface="popover"
      class="job-type-select">
      <ion-select-option
        *ngFor="let type of jobTypes"
        [value]="type">
        {{ type.type_value }}
      </ion-select-option>
    </ion-select>
    <ion-note 
      color="danger"
      *ngIf="jobType.invalid && (jobType.dirty)">
      This field is required
    </ion-note>
  </div>

  <div class="field">
    <strong>Type</strong>
    <ion-input 
      formControlName="type"
      class="ion-no-margin">
    </ion-input>
    <ion-note 
      color="danger"
      *ngIf="type.invalid && (type.dirty || type.touched)">
      This field is required
    </ion-note>
  </div>
  
  <div class="field">
    <strong>Quantity</strong>
    <ion-input 
      type="number" 
      formControlName="quantity"
      class="ion-no-margin">
    </ion-input>
    <ion-note 
      color="danger"
      *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)">
      {{quantity.errors?.required? 'This field is required': 'Quantity should be larger than 0'}}
    </ion-note>
  </div>

  <ion-row class="gap-2 ion-padding-top">
    <ion-col class="ion-no-padding">
      <ion-button type="submit" color="medium" expand="full">
        Submit
      </ion-button>
    </ion-col>
  </ion-row>
</form>