<ion-header>
  <app-header [title]="'Supplies request form'"></app-header>
</ion-header>

<ion-content>

  <div class="field">
    <strong>Job type</strong>
    <ion-select
      interface="popover"
      class="job-type-select">
      <ion-select-option
        *ngFor="let type of jobTypes"
        [value]="type.id">
        {{ type.type_value }}
      </ion-select-option>
    </ion-select>
  </div>

  <div class="field">
    <strong>Type</strong>
    <ion-input>

    </ion-input>
  </div>

  <div class="field">
    <strong>Quantity</strong>
    <ion-input>

    </ion-input>
  </div>

</ion-content>

<ion-footer>
  <app-sync></app-sync>
</ion-footer>