<ion-header>
  <app-header [title]="'Time sheets'"></app-header>
</ion-header>

<ion-content>
  <ion-row class="tab-content">

    <ion-col [class]="{active: tab === 'daily'}" (click)="tab = 'daily'">
      <ion-label> Daily </ion-label>
    </ion-col>

    <ion-col [class]="{active: tab === 'weekly'}" (click)="tab = 'weekly'">
      <ion-label> Weekly </ion-label>
    </ion-col>

  </ion-row>

  <ion-grid class="ion-padding">
    <ion-row>
  
      <ion-col>
        <ion-label>
          <div><b>Time Sheets</b></div>
          <div><small>For {{currentDate}}</small></div>
        </ion-label>
      </ion-col>
  
      <ion-col>

        <ion-button 
          *ngIf="!activeTimeSheet" 
          class="float-end" 
          color="light"
          (click)="onStartActivityClick()">
          Start Activity
        </ion-button>

        <ion-button 
          *ngIf="activeTimeSheet && activeTimeSheet.object_type === 'work_order'" 
          class="float-end" 
          color="light"
          [routerLink]="['/wok-orders', 'view', activeTimeSheet.object_uuid]">
          Finnish WO
        </ion-button>

        <ion-button 
          *ngIf="activeTimeSheet && activeTimeSheet.object_type !== 'work_order'" 
          class="float-end" 
          color="light"
          (click)="onStopActivityClick()">
          Stop
        </ion-button>

      </ion-col>
  
    </ion-row>

    <ion-grid class="time-sheets">
      <ion-row *ngFor="let timeSheet of timeSheets">

        <ion-col size="4">
          <ion-label>
            {{getType(timeSheet.type_id)?.name || ''}}
          </ion-label>
        </ion-col>
  
        <ion-col>

          <div *ngIf="timeSheet.object_type === 'work_order' && timeSheet.work_order_number">
            <ion-label>
              <b>WO#:</b>
              {{timeSheet.work_order_number}}
            </ion-label>
          </div>
  
          <div>
            <ion-label>
              <b>Start:</b>
              {{timeSheet.start_at ? utilsService.getLocalDatetime(timeSheet.start_at) : '-'}}
            </ion-label>
          </div>
  
          <div>
            <ion-label>
              <b>Stop:</b>
              {{timeSheet.stop_at ? utilsService.getLocalDatetime(timeSheet.stop_at) : 'In progress'}}
            </ion-label>
          </div>

          <div *ngIf="timeSheet.stop_at">
            <ion-label>
              <b>Time:</b>
              {{getDateDifferenceString(timeSheet.start_at, timeSheet.stop_at)}}
            </ion-label>
          </div>
  
        </ion-col>
  
      </ion-row>
    </ion-grid>
  
    <ion-row>
  
      <ion-col>
        <ion-label><b>Summary</b></ion-label>
      </ion-col>
  
    </ion-row>
    <ion-row>
  
      <ion-col size="4">
        <ion-label><b>Total: </b></ion-label>
      </ion-col>
      
      <ion-col>0</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <app-sync></app-sync>

  <ion-row>

    <ion-col>
      <ion-button expand="full" color="medium">Prev</ion-button>
    </ion-col>

    <ion-col>
      <ion-button expand="full" color="medium">Current</ion-button>
    </ion-col>

    <ion-col>
      <ion-button expand="full" color="medium">Next</ion-button>
    </ion-col>

  </ion-row>
</ion-footer>