<ion-header>
  <app-header [title]="'Incident form'"></app-header>
</ion-header>

<ion-content>
  <form 
    class="ion-padding"
    [formGroup]="formGroup" 
    (ngSubmit)="onSubmit()">

    <ion-row>
      <ion-col size="8">
        <ion-label>
          <b>Incident type:</b>
          <span class="required">*</span>
        </ion-label>
        <ion-select
          [formControl]="incidentTypeCtrl"
          interface="popover">

          <ion-select-option
            *ngFor="let type of incidentsTypes"
            [value]="type.id">
            {{ type.type_value }}
          </ion-select-option>

        </ion-select>

        <ion-text 
          class="small"
          color="danger"
          *ngIf="incidentTypeCtrl.invalid && (incidentTypeCtrl.dirty)">
          This field is required
        </ion-text>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8">
        <ion-label>
          <b>Incident date:</b>
          <span class="required">*</span>
        </ion-label>
        <ion-input 
          class="ion-no-margin"
          [formControl]="incidentDateCtrl" 
          type="date">
        </ion-input>
        
        <ion-text 
          class="small"
          color="danger"
          *ngIf="incidentDateCtrl.invalid && (incidentDateCtrl.dirty || incidentDateCtrl.touched)">
          This field is required
        </ion-text>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8">
        <ion-label>
          <b>Incident time:</b>
          <span class="required">*</span>
        </ion-label>
        <ion-input 
          class="ion-no-margin"
          [formControl]="incidentTimeCtrl" 
          type="time">
        </ion-input>
        
        <ion-text 
          class="small"
          color="danger"
          *ngIf="incidentTimeCtrl.invalid && (incidentTimeCtrl.dirty || incidentTimeCtrl.touched)">
          This field is required
        </ion-text>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <b>Incident location:</b>
          <span class="required">*</span>
        </ion-label>
        <ion-textarea 
          class="ion-no-margin"
          [formControl]="incidentLocationCtrl"
          [autoGrow]="true">
        </ion-textarea>
        
        <ion-text 
          class="small"
          color="danger"
          *ngIf="incidentLocationCtrl.invalid && (incidentLocationCtrl.dirty || incidentLocationCtrl.touched)">
          This field is required
        </ion-text>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>
          <b>Description:</b>
          <span class="required">*</span>
        </ion-label>
        <ion-textarea 
          class="ion-no-margin"
          [formControl]="descriptionCtrl"
          placeholder="Incident Description"
          [autoGrow]="true">
        </ion-textarea>
        
        <ion-text 
          class="small"
          color="danger"
          *ngIf="descriptionCtrl.invalid && (descriptionCtrl.dirty || descriptionCtrl.touched)">
          This field is required
        </ion-text>

      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col>
        <ion-label class="flex ion-align-items-center">
          <b>Injured Person(s):</b>
          <ion-button 
            color="medium" 
            fill="clear"
            (click)="showPersonForm('injured')">
            <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-label>
        
        <div 
          *ngFor="let person of injuryPersonsCtrl.value; index as i" 
          class="person"
          (click)="showPersonForm('injured', i)">

          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-button 
                class="ion-no-padding remove-btn"
                color="medium" 
                fill="clear" 
                (click)="onRemovePersonClick('injured', i)">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4"><small><b>First name:</b></small></ion-col>
            <ion-col><small>{{person.first_name}}</small></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4"><small><b>Last name:</b></small></ion-col>
            <ion-col><small>{{person.last_name}}</small></ion-col>
          </ion-row>

        </div>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col>

        <ion-label>
          <b>Injury description:</b>
          <span class="required">*</span>
        </ion-label>
        <ion-textarea 
          class="ion-no-margin"
          [formControl]="injuryDescriptionCtrl"
          placeholder="What happend?"
          [autoGrow]="true">
        </ion-textarea>
        
        <ion-text 
          class="small"
          color="danger"
          *ngIf="injuryDescriptionCtrl.invalid && (injuryDescriptionCtrl.dirty || injuryDescriptionCtrl.touched)">
          This field is required
        </ion-text>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8">
        <ion-label>
          <b>Analysis root cause:</b>
          <span class="required">*</span>
        </ion-label>
        <ion-select
          [formControl]="analysisRootCauseCtrl"
          interface="popover">

          <ion-select-option
            *ngFor="let type of analysisRootCauseTypes"
            [value]="type.id">
            {{ type.type_value }}
          </ion-select-option>

        </ion-select>

        <ion-text 
          class="small"
          color="danger"
          *ngIf="analysisRootCauseCtrl.invalid && (analysisRootCauseCtrl.dirty)">
          This field is required
        </ion-text>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8">
        <ion-label>
          <b>Analysis risk:</b>
          <span class="required">*</span>
        </ion-label>
        <ion-select
          [formControl]="analysisRiskCtrl"
          interface="popover">

          <ion-select-option
            *ngFor="let type of analysisRiskTypes"
            [value]="type.id">
            {{ type.type_value }}
          </ion-select-option>

        </ion-select>

        <ion-text 
          class="small"
          color="danger"
          *ngIf="analysisRiskCtrl.invalid && (analysisRiskCtrl.dirty)">
          This field is required
        </ion-text>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="8">
        <ion-label>
          <b>Analysis activity being performed:</b>
          <span class="required">*</span>
        </ion-label>
        <ion-select
          [formControl]="analysisActivityBeingPerformedCtrl"
          interface="popover">

          <ion-select-option
            *ngFor="let type of analysisActivityBeingPerformedTypes"
            [value]="type.id">
            {{ type.type_value }}
          </ion-select-option>

        </ion-select>

        <ion-text 
          class="small"
          color="danger"
          *ngIf="analysisActivityBeingPerformedCtrl.invalid && (analysisActivityBeingPerformedCtrl.dirty)">
          This field is required
        </ion-text>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-label>
          <b>Damage property owner:</b>
          <span class="required">*</span>
        </ion-label>
        <ion-textarea 
          class="ion-no-margin"
          [formControl]="damagePropertyOwnerCtrl"
          [autoGrow]="true">
        </ion-textarea>
        
        <ion-text 
          class="small"
          color="danger"
          *ngIf="damagePropertyOwnerCtrl.invalid && (damagePropertyOwnerCtrl.dirty || damagePropertyOwnerCtrl.touched)">
          This field is required
        </ion-text>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-label>
          <b>Damage description:</b>
          <span class="required">*</span>
        </ion-label>
        <ion-textarea 
          class="ion-no-margin"
          [formControl]="damageDescriptionCtrl"
          placeholder="What was the Damage?"
          [autoGrow]="true">
        </ion-textarea>
        
        <ion-text 
          class="small"
          color="danger"
          *ngIf="damageDescriptionCtrl.invalid && (damageDescriptionCtrl.dirty || damageDescriptionCtrl.touched)">
          This field is required
        </ion-text>

      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>

        <ion-label>
          <b>Damage cause:</b>
          <span class="required">*</span>
        </ion-label>
        <ion-textarea 
          class="ion-no-margin"
          [formControl]="damageCauseCtrl"
          placeholder="What was the Cause?"
          [autoGrow]="true">
        </ion-textarea>
        
        <ion-text 
          class="small"
          color="danger"
          *ngIf="damageCauseCtrl.invalid && (damageCauseCtrl.dirty || damageCauseCtrl.touched)">
          This field is required
        </ion-text>

      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col>
        <ion-label class="flex ion-align-items-center">
          <b>Involved person(s):</b>
          <ion-button 
            color="medium" 
            fill="clear"
            (click)="showPersonForm('involved')">
            <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-label>
        
        <div 
          *ngFor="let person of personInvolvedCtrl.value; index as i" 
          class="person"
          (click)="showPersonForm('involved', i)">

          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-button 
                class="ion-no-padding remove-btn"
                color="medium" 
                fill="clear" 
                (click)="onRemovePersonClick('involved', i)">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4"><small><b>First name:</b></small></ion-col>
            <ion-col><small>{{person.first_name}}</small></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4"><small><b>Last name:</b></small></ion-col>
            <ion-col><small>{{person.last_name}}</small></ion-col>
          </ion-row>

        </div>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col>
        <ion-label class="flex ion-align-items-center">
          <b>Witness(es):</b>
          <ion-button 
            color="medium" 
            fill="clear"
            (click)="showPersonForm('witness')">
            <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-label>
        
        <div 
          *ngFor="let person of witnessesCtrl.value; index as i" 
          class="person"
          (click)="showPersonForm('witness', i)">

          <ion-row>
            <ion-col class="ion-no-padding">
              <ion-button 
                class="ion-no-padding remove-btn"
                color="medium" 
                fill="clear" 
                (click)="onRemovePersonClick('witness', i)">
                <ion-icon name="close-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4"><small><b>First name:</b></small></ion-col>
            <ion-col><small>{{person.first_name}}</small></ion-col>
          </ion-row>

          <ion-row>
            <ion-col size="4"><small><b>Last name:</b></small></ion-col>
            <ion-col><small>{{person.last_name}}</small></ion-col>
          </ion-row>

        </div>
      </ion-col>

    </ion-row>

    <ion-row>

      <ion-col>
        <ion-button color="medium" expand="full" type="submit">Submit</ion-button>
      </ion-col>

    </ion-row>
  </form>
</ion-content>

<ion-footer>
  <app-sync></app-sync>
</ion-footer>