<ion-header>
  <app-header *ngIf="survey" [title]="survey.name"></app-header>
</ion-header>

<ion-content>
  <ion-list *ngIf="questions.length">

    <ion-item lines="none" *ngFor="let question of questions">
      <div class="question" *ngIf="question.active === 1">
        <small><b>{{ question.group_name }}</b></small>
        <span>
          {{ question.title }}
          <span class="required" *ngIf="question.required && question.type !== 'photo_only'">*</span>
        </span>
        <div *ngIf="question.help_text">
          <small>{{ question.help_text }}</small>
        </div>

        <ion-radio-group 
          *ngIf="question.type === 'option' || 
            question.type === 'option_with_comment_for_no' || 
            question.type === 'option_with_comment_for_yes'"
          [value]="question.answer">
          <ion-item lines="none">
            <ion-label>Yes</ion-label>
            <ion-radio 
              value="yes"
              (click)="onYesOptionClick(question)">
            </ion-radio>
          </ion-item>
          <ion-item lines="none">
            <ion-label>No</ion-label>
            <ion-radio 
              value="no"
              (click)="onNoOptionClick(question)">
            </ion-radio>
          </ion-item>
        </ion-radio-group>

        <app-capture-media
          *ngIf="question.type === 'photo_only' || question.photo !== 'skip'"
          type="photo"
          objectType="survey_results"
          [objectUuid]="question.answer_uuid"
          [typeId]="1"
          [mediaOptions]="{
            buttonLabel: 'Add photo',
            requiredOnce: question.photo === 'required'
          }"
          (saveFile)="onFileSave($event, question)">
        </app-capture-media>

        <app-signature
          *ngIf="question.type === 'signature'"
          objectType="survey_results"
          [objectUuid]="question.answer_uuid"
          [typeId]="1"
          label="Add signature"
          (saveFile)="onFileSave($event, question)">
        </app-signature>

        <ion-input
          (ionBlur)="onInputBlur($event, question)"
          *ngIf="question.type === 'input'"
          [value]="question.answer">
        </ion-input>

        <ion-textarea
          (ionBlur)="onInputBlur($event, question)"
          *ngIf="question.type === 'textarea'"
          [value]="question.answer">
        </ion-textarea>
      </div>
    </ion-item>

  </ion-list>

  <ion-row *ngIf="pagination.totalPages > 1" class="pagination">
    <ion-col>
      <ion-button 
        *ngIf="pagination.currentPage > 1"
        (click)="onGroupChange(groupSelect, pagination.currentPage-1)">Prev</ion-button>
    </ion-col>
    <ion-col>
      {{pagination.currentPage}}/{{pagination.totalPages}}
    </ion-col>
    <ion-col>
      <ion-button 
        *ngIf="pagination.currentPage < pagination.totalPages"
        (click)="onGroupChange(groupSelect, pagination.currentPage+1)">Next</ion-button>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>

  <ion-select
    #groupSelect
    placeholder="Select group"
    [value]="null"
    (ionChange)="onGroupChange($event.target)">
    <ion-select-option
      [value]="null">
      All questions
    </ion-select-option>
    <ion-select-option
      *ngFor="let group of groups"
      [value]="group">
      {{ group.type_value }}
    </ion-select-option>
  </ion-select>

</ion-footer>
