.text-green {
  color: #256225
}

.text-red {
  color: #c52323;
}

ion-item {
  width: 100%;
  font-size: 12px;
}

.question{
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
  width: 100%;
}

ion-radio-group ion-item, ion-input, ion-textarea{
  border: 1px solid var(--ion-color-grey-shade);
}

.pagination ion-col{
  display: flex;
  justify-content: center;
  align-items: center;

  ion-button{
    --background: var(--ion-color-grey-shade);
    width: 100%;
  }
}

.filter{
  border: 1px solid #b9b5b5; 
  font-size: 15px;
}