<ion-header>
  <app-header [title]="'Weekly inspections'"></app-header>
</ion-header>

<ion-content *ngIf="inspection">
  <ion-row class="ion-padding">
    <ion-col
        *ngFor="let type of photosTypes"
        size="6">
      <app-capture-media
          objectType="weekly_inspections"
          [type]="'photo'"
          [typeId]="type.id"
          [objectUuid]="inspection.uuid"
          [objectId]="inspection.id"
          [mediaOptions]="{
          buttonLabel: type.type_value,
          required: true
        }">
      </app-capture-media>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      <ion-item lines="none">
        <ion-label class="bold" position="stacked">
          Last 5 of vehicle vin
          <span class="required">*</span>
        </ion-label>
        <ion-input type="number" [formControl]="vehicleNumberCtrl"></ion-input>
        <ion-text class="small" color="danger">
          <span *ngIf="vehicleNumberCtrl.errors?.required && (vehicleNumberCtrl.dirty || vehicleNumberCtrl.touched)">
              This field is required
          </span>
          <span *ngIf="vehicleNumberCtrl.errors?.pattern && showErrors">This field should have 5 digits</span>
        </ion-text>
      </ion-item>
    </ion-col>
    <ion-col>
      <ion-item lines="none">
        <ion-label class="bold" position="stacked">
          Odometer reading
          <span class="required">*</span>
        </ion-label>
        <ion-input type="number" [formControl]="odometerReadingCtrl"></ion-input>
        <ion-text
            class="small"
            color="danger"
            *ngIf="odometerReadingCtrl.invalid && (odometerReadingCtrl.dirty || odometerReadingCtrl.touched)">
          <ion-text *ngIf="vehicleNumberCtrl.errors?.required">This field is required<br/></ion-text>
        </ion-text>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col class="label">Fluids</ion-col>
    </ion-row>
    <ion-row>

      <ion-col>
        <div class="checkbox-wrapper">
          <ion-checkbox [(ngModel)]="inspection.oil"></ion-checkbox>
          <ion-label>Oil</ion-label>
        </div>
      </ion-col>

      <ion-col>
        <div class="checkbox-wrapper">
          <ion-checkbox [(ngModel)]="inspection.brake"></ion-checkbox>
          <ion-label>Brake</ion-label>
        </div>
      </ion-col>

      <ion-col>
        <div class="checkbox-wrapper">
          <ion-checkbox [(ngModel)]="inspection.washer"></ion-checkbox>
          <ion-label>Washer</ion-label>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col class="label">Tires</ion-col>
    </ion-row>
    <ion-row>

      <ion-col>
        <div class="checkbox-wrapper">
          <ion-checkbox [(ngModel)]="inspection.jack"></ion-checkbox>
          <ion-label>Jack</ion-label>
        </div>
      </ion-col>

      <ion-col>
        <div class="checkbox-wrapper">
          <ion-checkbox [(ngModel)]="inspection.tread"></ion-checkbox>
          <ion-label>Tread</ion-label>
        </div>
      </ion-col>

      <ion-col>
        <div class="checkbox-wrapper">
          <ion-checkbox [(ngModel)]="inspection.spare_tire"></ion-checkbox>
          <ion-label>Spare Tire</ion-label>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col class="label">Tires Pressure</ion-col>
    </ion-row>
    <ion-row>

      <ion-col>
        <ion-item lines="none" class="ion-no-padding">
          <ion-label class="bold" position="stacked">
            Front Driver
            <span class="required">*</span>
          </ion-label>
          <ion-input type="number" [formControl]="frontDriverCtrl"></ion-input>
          <ion-text
              class="small"
              color="danger"
              *ngIf="frontDriverCtrl.invalid && (frontDriverCtrl.dirty || frontDriverCtrl.touched)">
            This field is required
          </ion-text>
        </ion-item>
      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col>
        <ion-item lines="none" class="ion-no-padding">
          <ion-label class="bold" position="stacked">
            Rear Driver
            <span class="required">*</span>
          </ion-label>
          <ion-input type="number" [formControl]="rearDriverCtrl"></ion-input>
          <ion-text
              class="small"
              color="danger"
              *ngIf="rearDriverCtrl.invalid && (rearDriverCtrl.dirty || rearDriverCtrl.touched)">
            This field is required
          </ion-text>
        </ion-item>
      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col>
        <ion-item lines="none" class="ion-no-padding">
          <ion-label class="bold" position="stacked">
            Front Passenger
            <span class="required">*</span>
          </ion-label>
          <ion-input type="number" [formControl]="frontPassengerCtrl"></ion-input>
          <ion-text
              class="small"
              color="danger"
              *ngIf="frontPassengerCtrl.invalid && (frontPassengerCtrl.dirty || frontPassengerCtrl.touched)">
            This field is required
          </ion-text>
        </ion-item>
      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col>
        <ion-item lines="none" class="ion-no-padding">
          <ion-label class="bold" position="stacked">
            Rear Passenger
            <span class="required">*</span>
          </ion-label>
          <ion-input type="number" [formControl]="rearPassengerCtrl"></ion-input>
          <ion-text
              class="small"
              color="danger"
              *ngIf="rearPassengerCtrl.invalid && (rearPassengerCtrl.dirty || rearPassengerCtrl.touched)">
            This field is required
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col class="label">Week Ending Mileage</ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <small>
          - Is a current, valid insurance card in the vehicle?
          <span class="required">*</span>
        </small>
        <ion-text
            *ngIf="showErrors && inspection.card_in_vehicle === null"
            class="small"
            color="danger">
          <br/>You must select one option
        </ion-text>
      </ion-col>
    </ion-row>
    <app-yes-or-no-options [(selected)]="inspection.card_in_vehicle"></app-yes-or-no-options>

    <ion-row>
      <ion-col>
        <small>
          - Is the current vehicle registration in the vahicle?
          <span class="required">*</span>
        </small>
        <ion-text
            *ngIf="showErrors && inspection.registration_in_vehicle === null"
            class="small"
            color="danger">
          <br/>You must select one option
        </ion-text>
      </ion-col>
    </ion-row>

    <app-yes-or-no-options [(selected)]="inspection.registration_in_vehicle"></app-yes-or-no-options>
  </ion-grid>
</ion-content>

<ion-footer>
  <app-sync></app-sync>

  <ion-row>
    <ion-col>
      <ion-button
          color="light"
          expand="full"
          (click)="onClearClick()">
        Clear
      </ion-button>
    </ion-col>

    <ion-col>
      <ion-button
          color="medium"
          expand="full"
          (click)="onSaveClick()">
        Save
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
