<ion-header>
  <app-header [title]="'Daily inspections'"></app-header>
</ion-header>

<ion-content>
  <ion-item
    *ngIf="isPreview"
    lines="none"
    class="preview-title">

    <b class="full-width ion-text-center ion-padding">
      Preview mode for the last inspection<br/>
      from {{utilsService.getLocalDatetime(inspection.created_at)}}
    </b>

  </ion-item>
  <form [formGroup]="inspectionForm">
    <ion-row>

      <ion-col size="6">
        <ion-item lines="none">

          <ion-label position="stacked">
            Last 5 of vehicle vin
            <span class="required">*</span>
          </ion-label>

          <ion-input [readonly]="isPreview" type="tel" formControlName="vehicleNumber"></ion-input>

          <ion-note
            color="danger"
            *ngIf="!isPreview && vehicleNumberCtrl.invalid">
            <ion-text *ngIf="vehicleNumberCtrl.errors?.required && (vehicleNumberCtrl.dirty || vehicleNumberCtrl.touched)">This field is required<br/></ion-text>
            <ion-text *ngIf="vehicleNumberCtrl.errors?.pattern && showErrors">This field should have 5 digits</ion-text>
          </ion-note>

        </ion-item>
      </ion-col>

      <ion-col size="6">
        <ion-item lines="none">

          <ion-label position="stacked">
            Odometer Reading
            <span class="required">*</span>
          </ion-label>

          <ion-input type="tel" [readonly]="isPreview" formControlName="odometerReading"></ion-input>

          <ion-note
            color="danger"
            *ngIf="!isPreview && odometerReadingCtrl.invalid && (odometerReadingCtrl.dirty || odometerReadingCtrl.touched)">
            This field is required
          </ion-note>

        </ion-item>
      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col>
        <ion-item lines="none">

          <ion-label position="stacked">Note</ion-label>

          <ion-input [readonly]="isPreview" formControlName="note"></ion-input>

        </ion-item>
      </ion-col>

    </ion-row>
  </form>

  <ion-item lines="none ion-margin-top" class="disclaimer">
    No commercial motor vehicle shall be driven unless the
    driver is satisfied that the following parts and
    accessories are in good working order, nor shall any
    driver fail to use or make use of such parts and
    accessories when and as needed:
    <br/><br/>
    Each questions should be "satisfactory" or "unsatisfactory"
  </ion-item>

  <ion-item class="questions">
    <table>
      <tr>
        <th></th>
        <th class="w-25 text-center"><b>Unsatisfactory</b></th>
        <th class="w-25 text-center"><b>Satisfactory</b></th>
      </tr>
      <tr *ngFor="let question of questions">
        <td class="{{showErrors && inspection[question.type_key] === undefined? 'required': ''}}">{{question.type_value}}</td>
        <td
          class="unsatisfactory"
          (click)="onAnswerClick(question, false)">
          <ion-icon *ngIf="inspection[question.type_key] === 0" name="checkmark-outline"></ion-icon>
        </td>
        <td
          class="satisfactory"
          (click)="onAnswerClick(question, true)">
          <ion-icon *ngIf="inspection[question.type_key] === 1" name="checkmark-outline"></ion-icon>
        </td>
      </tr>
    </table>
  </ion-item>
</ion-content>

<ion-footer>
  <app-sync></app-sync>
  <ion-row *ngIf="isPreview; else formButtons">

    <ion-col>
    </ion-col>
    <ion-col>
      <ion-button
          color="medium"
          expand="full"
          (click)="onNextClick()">
        Next
      </ion-button>
    </ion-col>

  </ion-row>
  <ng-template #formButtons>
    <ion-row>

      <ion-col>
        <ion-button
          color="light"
          expand="full"
          (click)="onClearClick()">
          Clear
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button
          color="medium"
          expand="full"
          (click)="onSaveClick()">
          Save
        </ion-button>
      </ion-col>

    </ion-row>
  </ng-template>
</ion-footer>
