<h2 class="modal-title ion-text-center">Part request</h2>

<div class="ion-padding">
  <form [formGroup]="form" *ngIf="form">
      <app-form-select
          label="Type"
          controlName="type_id"
          [form]="form"
          [options]="partRequestTypes"
          [required]="true"
      ></app-form-select>

    <ion-item class="ion-no-padding mb-2 mt-2" lines="none">
      <ion-label position="stacked" class="bold">
        Type Quantity:<span class="required">*</span>
      </ion-label>
      <ion-input type="number" formControlName="quantity"></ion-input>
    </ion-item>

    <ion-item class="ion-no-padding" lines="none">
      <ion-label position="stacked" class="bold">
        Note:<span class="required">*</span>
      </ion-label>
      <ion-textarea formControlName="comment"></ion-textarea>
    </ion-item>
  </form>

  <ion-row class="gap-2 ion-padding-top">
    <ion-col class="ion-no-padding">
      <ion-button (click)="onCancel()" color="light" expand="full">Cancel</ion-button>
    </ion-col>
    <ion-col class="ion-no-padding">
      <ion-button (click)="onSubmit()" color="medium" expand="full">Submit</ion-button>
    </ion-col>
  </ion-row>
</div>
