<ion-header>
  <app-header [title]="'Message center'"></app-header>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col>
      <app-capture-media
          [typeId]="81"
          type="photo"
          [objectId]="120"
          objectUuid="31341"
          objectType="asset_pictures"
          [mediaOptions]="buttonLabel">
      </app-capture-media>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <a [routerLink]="['/gallery', 'list', 'asset_pictures', '32134']" [queryParams]="{
        objectId: 0, 
        readOnly: false, 
        onlyFilesWithExt: null, 
        allowSkipDescription: true,
        photoType: 'asset_pictures'
      }">
        <ion-button>Browser photos</ion-button>
      </a>
    </ion-col>
  </ion-row>
</ion-content>

<ion-footer>
  <app-sync></app-sync>
</ion-footer>
