<ion-header>
  <app-header [title]="title">
    <ng-container icons *ngIf="!isNote">
      <ion-button (click)="openFormModal()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ng-container>
  </app-header>
  <div class="search-box">
    <ion-row>
      <ion-col>
        <ion-input
            class="clear"
            [(ngModel)]="params.query"
            [debounce]="300"
            (ionChange)="loadList()" placeholder="Type to search">
        </ion-input>
      </ion-col>
    </ion-row>
  </div>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngFor="let message of messages">

      <app-note-card *ngIf="isNote; else notNote" [message]="message"></app-note-card>

      <ng-template #notNote>
        <app-message-card
          *ngIf="(getActiveTabKey() === 'new' && !message.completed) || getActiveTabKey() !== 'new'"
          [message]="message"
          [showComplete]="getActiveTabKey() === 'new' && !message.completed"
          [showReply]="getActiveTabKey() !== 'sent'">
        </app-message-card>
      </ng-template>

    </ng-container>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-footer>
    <app-sync></app-sync>

    <ion-row class="tab-content" *ngIf="!isNote">
      <ng-container *ngFor="let tab of tabs">
        <ion-col [class]="{active: tab.isActive}" (click)="setActiveTab(tab.key)">
          <ion-label>{{ tab.label }}</ion-label>
        </ion-col>
      </ng-container>
    </ion-row>

    <ion-row *ngIf="isNote">
      <ion-col>
      </ion-col>

      <ion-col>
        <ion-button expand="full" color="medium" (click)="openFormModal()">
          New
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-footer>
