ion-menu {
  margin-top: 5vh;

  ion-content {
    ion-item {
      ion-icon {
        margin-right: 10px;
      }
    }
  }

  ion-footer {
    background-color: #82817e;
    color: #fcfcfb;
    border: 0;
    padding: 5px 0;
  }
}
