<ion-header>
  <app-header [title]="'Supplies requests'"></app-header>
</ion-header>

<ion-content>

  <ion-card *ngFor="let request of requests">
    <ion-card-header>
      <ion-card-subtitle class="ion-text-right">{{utilsService.getLocalDatetime(request.created_at)}}</ion-card-subtitle>
      <ion-card-title>
        <div><b>{{request.type}}</b></div>
        <div>x{{request.quantity}}</div>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col size="4" class="description-label">
            Approved:
          </ion-col>
          <ion-col 
            class="ion-text-left {{request.acknowledgment === 0? 'acknowledgment-pending': 'acknowledgment-yes'}}">
            {{request.acknowledgment === 0? 'Pending...': 'Yes'}}
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4" class="description-label">
            Shipping Date:
          </ion-col>
          <ion-col class="ion-text-left">
            {{utilsService.getLocalDatetime(request.shipping_date) || '-'}}
          </ion-col>
        </ion-row>

        <ion-row *ngIf="request.shipping_date">
          <ion-col size="4" class="description-label">
            Status:
          </ion-col>
          <ion-col 
            class="ion-text-left {{
              request.delivery_status === 'delivered'? 
              'status-delivered': 
              request.delivery_status === 'partially_delivered'? 
              'status-partially-delivered':
              request.delivery_status === 'not_delivered'? 
              'status-not-delivered':
              ''
            }}">
            {{request.delivery_status? getStatusName(request.delivery_status): '-'}}
          </ion-col>
        </ion-row>

        <ion-row *ngIf="request.shipping_date">
          <ion-col size="4" class="description-label">
            Comment:
          </ion-col>
          <ion-col class="ion-text-left">
            {{request.technician_comment || '-'}}
          </ion-col>
        </ion-row>

        <ion-row *ngIf="request.shipping_date && request.acknowledgment === 1 && !request.delivery_status">
          <ion-col>
            <ion-button 
              class="confirm-btn"
              (click)="openStatusModal(request)">
              CONFIRM
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  <app-sync></app-sync>

  <ion-row>
    <ion-col>
      <ion-select
        #groupSelect
        interface="popover"
        class="status-select"
        placeholder="Select status"
        (ionChange)="onStatusChange($event)"
        [value]="null">
        <ion-select-option
          [value]="null">
          All
        </ion-select-option>
        <ion-select-option
          *ngFor="let status of statuses"
          [value]="status">
          {{ status.type_value }}
        </ion-select-option>
      </ion-select>
    </ion-col>
    <ion-col>
      <ion-button 
        class="new-request-btn"
        (click)="openFormModal()">
        New request
      </ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
