ion-col {
  display: flex;
  align-items: center;

  ion-select {
    width: 100%;
  }
}

ion-card-subtitle {
  font-size: 0.8rem;
}

ion-card-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.description-label {
  display: flex;
  justify-content: flex-end;
}

.acknowledgment-pending, .status-partially-delivered {
  color: var(--ion-color-status-in-progress);
}

.acknowledgment-yes, .status-delivered {
  color: var(--ion-color-status-done);
}

.status-not-delivered {
  color: var(--ion-color-status-stoped);
}
