ion-input, ion-textarea{
    border: 1px solid var(--ion-color-grey-shade);
    padding: 0 5px !important;
    margin-top: 5px;
}

ion-button{
    --background: var(--ion-color-grey-shade);
    --color: white;
    width: 100%;
    margin-inline: 0;
}