<div>
  <ion-item
    lines="none"
    *ngFor="let subquestion of subquestions">
    <ion-label position="stacked">
      {{ subquestion.label }}
      <span class="required" *ngIf="subquestion.required">*</span>
    </ion-label>
    <ion-input
      *ngIf="subquestion.type === 'input'"
      (ionChange)="onInputChange($event, subquestion)"
      [debounce]="500"
      [value]="subquestion.answer">
    </ion-input>
    <ion-textarea
      *ngIf="subquestion.type === 'textarea'"
      (ionChange)="onInputChange($event, subquestion)"
      [debounce]="500"
      [value]="subquestion.answer">
    </ion-textarea>
    <ion-note slot="error">{{subquestion.label}} is required</ion-note>
  </ion-item>

  
  <ion-item lines="none">
    <ion-button (click)="onSubmit()">
      Submit
    </ion-button>
  </ion-item>
</div>
