ion-grid{
    --ion-grid-column-padding: 5px;
    --ion-grid-padding: 5px;
}

.file-thumbnail{
    --size: 30vw;
    border: 2px solid black;
}

.pdf-thumbnail{
    padding: 20px
}

.delete-btn{
    position: absolute;
    bottom: 3px;
    right: 5px;
    --border-radius: 14px;
    --color: var(--ion-color-grey-shade)
}

.download-btn{
    --background: var(--ion-color-grey-shade)
}