ion-textarea {
  border: 1px solid #d2d2ce;
  font-size: 0.9rem;
  padding: 0px 8px;
}

.query-error {
  color: #ff0000;
  font-size: 11px;
}

.query-result {
  border: 1px solid #d2d2ce;
  font-size: 11px;
  height: 100%;
  padding: 8px;
  width: 100%;
}

li {
  font-size: 11px;
  padding: 2px 0px;
}
