/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import 'font-poppins.css';
@import 'font-quicksand.css';


//#ffffff - background
//#fcfcfb - background
//#e8e4dc - background form/frame
//#82817e - text / border
//
//#898079
//
//#968a80 - badge
//#9e9186
//#ab9e92
//#c3a894
//#bc997e
//#d2a27c

ion-item,
ion-label,
ion-button {
  font-size: 0.8rem;
}

:root {
  --ion-background-color: #fcfcfb;
  --ion-background-color-rgb: 252, 252, 251;

  --ion-color-green: #4d7a1a;
  --ion-color-green-rgb: 77, 122, 26;
  --ion-color-green-contrast: #ffffff;
  --ion-color-green-contrast-rgb: 255, 255, 255;
  --ion-color-green-shade: #159f84;
  --ion-color-green-tint: #76ab3a;

  --ion-color-light-green: #ccfc94;
  --ion-color-light-green-rgb: 204, 252, 148;
  --ion-color-light-green-contrast: #666666;
  --ion-color-light-green-contrast-rgb: 255, 255, 255;
  --ion-color-light-green-shade: #159f84;
  --ion-color-light-green-tint: #dcffb3;

  --ion-color-grey: #c2c4c2;
  --ion-color-grey-rgb: 105, 187, 123;
  --ion-color-grey-contrast: #ffffff;
  --ion-color-grey-contrast-rgb: 255, 255, 255;
  --ion-color-grey-shade: #9f9f9f;
  --ion-color-grey-tint: #c9cbc9;

  --ion-font-family: 'Poppins', sans-serif;

  --ion-color-status-done: #3fa33b;
  --ion-color-status-in-progress: #b6953b;
  --ion-color-status-stoped: #b63b3b;
}

.ion-color-green {
  --ion-color-base: var(--ion-color-green);
  --ion-color-base-rgb: var(--ion-color-green-rgb);
  --ion-color-contrast: var(--ion-color-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-green-shade);
  --ion-color-tint: var(--ion-color-green-tint);
}

.ion-color-light-green {
  --ion-color-base: var(--ion-color-light-green);
  --ion-color-base-rgb: var(--ion-color-light-green-rgb);
  --ion-color-contrast: var(--ion-color-light-green-contrast);
  --ion-color-contrast-rgb: var(--ion-color-light-green-contrast-rgb);
  --ion-color-shade: var(--ion-color-light-green-shade);
  --ion-color-tint: var(--ion-color-light-green-tint);
}

.ion-color-grey {
  --ion-color-base: var(--ion-color-grey);
  --ion-color-base-rgb: var(--ion-color-grey-rgb);
  --ion-color-contrast: var(--ion-color-grey-contrast);
  --ion-color-contrast-rgb: var(--ion-color-grey-contrast-rgb);
  --ion-color-shade: var(--ion-color-grey-shade);
  --ion-color-tint: var(--ion-color-grey-tint);
}

ion-card-title {
  font-size: 1.0rem;
}

.ion-item-small {
  height: 32px;
}

ion-card-content {
  &.card-content-md {
    font-size: 0.8rem;
  }

  ion-row {
    padding-top: 3px;
  }
}

ion-button {
  text-transform: none;

  &[expand="full"] {
    width: 100%;
    margin-inline: 0;
    margin: 0;
  }
}

ion-item {
  &.ion-no-padding {
    --inner-padding-end: 0;
  }
}

ion-input {
  border: 1px solid var(--ion-color-grey-shade);
  font-size: 0.8rem !important;
  margin-top: 8px;
  padding: 0 5px !important;
  --padding-start: 6px !important;
  --padding-end: 6px !important;
  --padding-bottom: 6px !important;
  --padding-top: 6px !important;

  &.clear {
    border: 0;
    margin: 0;
  }

  &.without-margin-top {
    margin-top: 0px;
  }
}

ion-select {
  border: 1px solid var(--ion-color-grey-shade);
  font-size: 0.8rem;
  padding: 7px;
  width: 100%;
  --padding-bottom: 6px;
  --padding-top: 6px;
}

ion-textarea {
  border: 1px solid var(--ion-color-grey-shade);
  font-size: 0.8rem !important;
  margin-top: 8px;
  padding: 0 5px !important;

  &.without-margin-top {
    margin-top: 0px;
  }
}

.mt-6 {
  margin-top: 4rem !important;
}

.mt-7 {
  margin-top: 5rem !important;
}

.modal-title,
.alert-title {
  font-family: 'Poppins', sans-serif;
  font-size: 18px !important;
  font-weight: 500;
}

.modal-message,
.alert-message {
  font-size: 14px !important;
}

.bold {
  font-weight: bold;
}

.required {
  color: #ff0015;
}

.break {
  flex-basis: 100%;
  height: 0;
}

.h-33w {
  height: 33vw;
}

.rotation {
  -webkit-animation: rotation 2s infinite linear;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.modal-fullscreen {
  width: 100vw;
  height: 100vh;
  --width: 100vw;
  --height: calc(100vh - 26px);
  --border-radius: 0;
  align-items: start;

  .modal-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    --width: 100%;
    --height: 100%;
  }
}

.ios .modal-fullscreen {
  --border-radius: 0;
  --height: calc(100vh - 26px);
  align-items: start;

  .modal-wrapper {
    top: 26px;
  }
}

.width-60 {
  --min-width: 60vw !important;
  --width: 60vw !important;
}

.width-80 {
  --min-width: 80vw !important;
  --width: 80vw !important;
}


.quicksand {
  font-family: 'Quicksand', sans-serif;
}

*:focus {
  outline: none;
}

.bg-logo {
  background: linear-gradient(180deg, rgba(130, 129, 126, 1) 0%, rgba(232, 228, 220, 1) 65%, rgba(252, 252, 251, 1) 100%);
}

.bg-frame {
  font-size: 0.9rem;

  label {
    span {
      display: inline-block;
      font-weight: 500;
      width: 30% !important;
    }

    color: #ab9e92;
    padding-left: 5px;
  }

  input {
    color: #82817e;
  }

  background-color: #e8e4dc;
}

.bg-sign-in-button {
  &[disabled] {
    background-color: #ab9e92 !important;
  }

  background-color: #898079;
  color: #ffffff;
  font-size: 1.1rem;
  padding: 18px;
  width: 100%;
}

.text-color-dark {
  color: #2f2d3a
}

.text-color-grayish {
  color: #898079
}

.search-box {
  background-color: #e8e4dc;
  border-bottom: 1px solid #ab9e92;
  font-size: 0.7rem;

  ion-input {
    width: 80vw;
  }

  ion-icon {
    font-size: 20px;
    margin-top: 8px;
  }

  .buttons {
    text-align: right;
  }
}

.button-small {
  height: 2.7em;
}

.button-solid {
  --border-radius: 0;
  --box-shadow: none;
}

ion-modal {
  ion-item {
    font-size: inherit;
  }

  &.popup {
    --width: fit-content;
    --min-width: 90vw;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
    :nth-child(1){
      max-height: 80vh;
      overflow-y: scroll;
    }
  }

  .wrapper {
    margin-bottom: 10px;
  }
}

.form-alert {
  .alert-button-group {
    flex-wrap: nowrap;
    justify-content: center;
  }

  button {
    border: 0;
    border-radius: 0 !important;
    margin-inline: 0 !important;
    margin: 3px 5px !important;
    width: 100%;

    &.alert-button.alert-button-cancel {
      background-color: var(--ion-color-light);
      color: var(--ion-color-light-contrast);
    }

    &.alert-button.alert-button-confirm {
      background-color: var(--ion-color-medium);
      color: var(--ion-color-medium-contrast);
    }

    .alert-button-inner {
      justify-content: center;
    }
  }
}

.alert-wrapper {
  --min-width: 80vw;
}

.checkbox-wrapper{
  display: flex;
  gap: 5px;
}

.full-width{
  width: 100%;
}

.label {
  font-size: 0.8rem;
  font-weight: bold;

  &.small {
    font-size: 0.75rem;
    padding-right: 8px;
  }
}

.w-20 {
  width: 20% !important;
}

.total-photos {
  position: relative;

  ion-badge {
    border-radius: 40px;
    font-size: 10px;
    font-weight: normal;
    min-width: 18px;
    padding: 3px;
    position: absolute;
    right: 0;
    top: -3px;
    z-index: 100;
  }

  ion-icon {
    font-size: 18px;
    position: absolute;
    right: 11px;
    top: 2px;
  }
}

.tab-content {
  color: #3d3b3b;
  background-color: #e8e4dc;
  height: 40px;
  vertical-align: middle;

  ion-col {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

    &.active {
      background-color: #82817e;
      color: #e8e4dc;
    }
  }
}

ion-checkbox {
  vertical-align: middle;
  border: 1px solid #dddddd;
  margin-left: 10px;

  --border-radius: 0;
}
