:host, ion-button{
    width: 100%;
    margin-inline: 0;
}

ion-img{
    height: 20vh;
}

.padding {
    &:first-child {
        padding-right: 5px;
    }

    &:last-child {
        padding-left: 5px;
    }
}
